<ion-footer collapse="fade">
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom"> 
      <ion-tab-button tab="conta">
        <ion-icon name="person"></ion-icon>
        <ion-label>Conta</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="carrinho">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
