<div class="flex-container">
  <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/banner-blu-collection.jpg&height=1080&width=1920">
  <div class="flex-item7">
      <h5>VEJA NOSSO VESTUÁRIO!</h5>
      <h6>FRETE GRATIS PARA TODO O BRASIL</h6>
    <ion-button class="btn-compre" shape="round" color="medium">COMPRE ONLINE</ion-button>
  </div>
</div>