.ion-text-center{
    text-align: center;
}

.flex-container{
    display: flex;
    gap: 20px;
    position: relative;
}

.flex-container2{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    background-color: transparent;
    box-shadow: none;
}