<app-navbar></app-navbar>
<ion-content>
  <app-carousel></app-carousel>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>MAIS VENDIDAS</h3>
        </div>
      </ion-col>
    </ion-row>

    <app-card-moto></app-card-moto>

    <app-destaques></app-destaques>
    
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>SERVIÇOS</h3>
        </div>
      </ion-col>
    </ion-row>

    <app-card-servicos></app-card-servicos>
   
    <app-compre></app-compre>
  
  </ion-grid>
</ion-content>
<app-footer></app-footer>