<ion-slides [options]="slideOpts">
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/file/products/30000.BL5600010A.condicao.desktopp.jpg">
      <ion-card-header>
        <ion-card-title><h6>URBANO</h6></ion-card-title>
        <ion-card-subtitle><h5>FAZER 150 UBS</h5></ion-card-subtitle>
        <ion-card-content>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/file/products/1403-1397-NMAX_AZUL.jpg">
      <ion-card-header>
        <ion-card-title><h6>URBANO</h6></ion-card-title>
        <ion-card-subtitle><h5>FAZER 150 UBS</h5></ion-card-subtitle>
        <ion-card-content>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/file/products/30016.B37800010A.condicao.desktop.jpg">
      <ion-card-header>
        <ion-card-title><h6>URBANO</h6></ion-card-title>
        <ion-card-subtitle><h5>FAZER 150 UBS</h5></ion-card-subtitle>
        <ion-card-content>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/file/products/30020.1STC00010D.condicao.desktop.jpg">
      <ion-card-header>
        <ion-card-title><h6>URBANO</h6></ion-card-title>
        <ion-card-subtitle><h5>FAZER 150 UBS</h5></ion-card-subtitle>
        <ion-card-content>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
