<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card class="card">
    <img src="https://s1.1zoom.me/b5050/224/390120-blackangel_1920x1080.jpg">
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
    <img src="https://c.wallhere.com/photos/b5/a6/1920x1080_px_honda_Motorbikes-1194361.jpg!d">
    </ion-card>
  </ion-slide>
</ion-slides>