<ion-slides [options]="slideOpts">
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
      <ion-card-header>
        <ion-card-title><h6>SERVIÇOS</h6></ion-card-title>
        <ion-card-content>
          <p>Escolha o plano de manutenção que cabe no seu orçamento e agende seu serviço online</p>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
      <ion-card-header>
        <ion-card-title><h6>PEÇAS GENUÍNAS</h6></ion-card-title>
        <ion-card-content>
          <p>Escolha peças genuínas e mantenha o DNA da sua motocicleta 100% original</p>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="card">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
      <ion-card-header>
        <ion-card-title><h6>MOTOLUBE</h6></ion-card-title>
        <ion-card-content>
          <p>Conheça nosso lubrificante, excelente para todas as marcas de moto.</p>
          <a href="#">SAIBA MAIS +</a>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
